{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">

    <title>{% block title %}docker Dashboard{% endblock %}</title>
    <link href="/static/app/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/app/js/dockerDashborad.js"></script>
</head>
<body >
    <div >
        {% include "header.html" %}
    </div>

    <div class="page-container">
        <div class="page-sidebar-wrapper">
            {% include "menu.html" %}
        </div>
        <div class="page-content-wrapper">
            <div id="mainContainer" class="page-content">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{#    <div class="modal fade" id="loadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#        <div class="modal-dialog" style="width:280px;">#}
{#            <div class="modal-content">#}
{#                <div id="loadBody" class="modal-body">#}
{#                    <div id="loadDialog"></div>#}
{#                    <h6>数据加载中...</h6>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
</body>
</html>