{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">

    <title>{% block title %}docker Dashboard{% endblock %}</title>
    <link href="/static/app/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="/static/app/js/dockerDashborad.js"></script>
</head>
<body >
   <div class="container">
	{% include "header.html" %}
     <div id="mainContainer" class="page-content" style="margin-top: 51px">
                {% block page_content %}
                {% endblock %}
     </div>
</div>
</div>
</body>
</html>