{% extends 'base.html' %}
{% block title %}docker 主机列表{% endblock %}
{% block page_content %}

    <div>
        <table class="table table-hover table-striped table-bordered">
            <caption><h3 style="font-weight: 200;color:dodgerblue">docker 主机</h3></caption>
            <thead>
           <tr class="table-one">
                    <th width="40px"><input onclick="checkall(this)" type="checkbox" value=""/></th>
                <th width="30%" >
                    主机地址
                </th>
                <th width="30%" >
                    服务端口
                </th>
                <th width="40%" >
                    操作
                </th>
            </tr>
            </thead>
            <tbody>
            {% for host in data %}
                {% if host.id  == 0 %}
                    <tr class="success">#}
                        {% else %}
                    <tr>
                {% endif %}
            <td><input width="40px" name="sel_chk" type="checkbox" value="{{ container.Id }}"/></td>
            <td>{{ host.ip }}</td>
            <td>{{ host.port }}</td>
            　　
            <td style="width:10%">
                <a href="/host/delete/{{ host.id }}">删除</a>
                <a href="#">修改</a>
            </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
