{#<div id="topbar" >#}
{#<a href="/images">镜像列表</a> | <a href="/containers">容器列表</a>#}
{#</div>#}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div>
        <ul id="sys_nav" class="nav navbar-nav">
            <li ><a href="/images">镜像列表</a></li>
            <li><a href="/containers">容器列表</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    菜单
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/images">镜像列表</a></li>
                     <li class="divider"></li>
                    <li><a href="/containers">容器列表</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>
<script>
$(function (){
    $('#sys_nav li').click(function (){
        //把之前已有的active去掉
        $('.active').removeClass('active');
        //当前点击的li加上class
        $(this).addClass("active");
    });
})
</script>