{#<div id="topbar" >#}
{#<a href="/images">镜像列表</a> | <a href="/containers">容器列表</a>#}
{#</div>#}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div>
            <ul id="sys_nav" class="nav navbar-nav">
                <li index="1"><a href="/images">镜像列表</a></li>
                <li index="2"><a href="/containers">容器列表</a></li>
                <li index="3"><a href="/host/list">docker主机列表</a></li>
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        菜单#}
{#                        <b class="caret"></b>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a href="/images">镜像列表</a></li>#}
{#                        <li class="divider"></li>#}
{#                        <li><a href="/containers">容器列表</a></li>#}
{#                    </ul>#}
{#                </li>#}
                {% if docker_hosts %}
                    <li>
                        <select id="docker_seleted" class="dropdown-toggle" style="bottom: 0px;"
                                onchange="bind_docker()">
                            {% for server in docker_hosts %}
                                {% if  server.selected %}
                                    <option value="{{ server.id }}"
                                            selected="{{ server.selected }}">{{ server.ip }}:{{ server.port }}</option>
                                {% else %}
                                    <option value="{{ server.id }}">{{ server.ip }}:{{ server.port }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>